<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur5_main">
    <!-- Enable setting arguments from the launch file -->
    <xacro:arg name="prefix" default="ur5_1_" />
    <xacro:arg name="joint_limited" default="false" />

    <xacro:include filename="$(find ur5_arm_zell_description)/urdf/ur5_parameters.urdf.xacro" />
    <xacro:include filename="$(find ur5_arm_zell_description)/urdf/ur5_structure.urdf.xacro" />
    <xacro:include filename="$(find ur5_arm_zell_description)/urdf/ur5_gazebo.urdf.xacro" />
    <xacro:include filename="$(find ur5_arm_zell_description)/urdf/ur5_control.urdf.xacro" />
    <!-- basci ur5 robot:dependences: ur5_arm_zell_description can do simulation in rViz2 and Gazebo, can not control the robot in gazebo -->
    <xacro:ur5_robot prefix="$(arg prefix)" joint_limited="$(arg joint_limited)" using_camera="false" using_IMU="false" using_laser="false" using_force_torque="false"/>

    <!-- add controller to the robot: dependences: ur5_arm_zell_bringup ur5_arm_zell_description ur5_arm_zell_gazebo -->
    <!-- ros2-gazebo-control -->
    <xacro:ur5_ros2_control prefix="$(arg prefix)" />
    <xacro:ur5_gazebo_plugin/>


    <!-- add a world link to the robot, lift the robot above the ground -->
    <link name="world" />

    <joint name="world_joint" type="fixed">
        <parent link="world" />
        <child link = "ur5_1_base_link" />
        <origin xyz="0.0 0.0 0.5" rpy="0.0 0.0 0.0" />
    </joint>
</robot>