<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur5_ros2_control">
    <xacro:macro name="ur5_ros2_control" params="prefix">
        <ros2_control name="Zell_UR5_1_Robot_System" type="system">
            <hardware>
                <plugin>gazebo_ros2_control/GazeboSystem</plugin>
            </hardware>
            <joint name="${prefix}shoulder_pan_joint">
                <command_interface name="position">
                    <param name="min">-6.28</param>
                    <param name="max">6.28</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint> 

            <joint name="${prefix}shoulder_lift_joint">
                <command_interface name="position">
                    <param name="min">-6.28</param>
                    <param name="max">6.28</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="${prefix}elbow_joint">
                <command_interface name="position">
                    <param name="min">-6.28</param>
                    <param name="max">6.28</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="${prefix}wrist_1_joint">
                <command_interface name="position">
                    <param name="min">-6.28</param>
                    <param name="max">6.28</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="${prefix}wrist_2_joint">
                <command_interface name="position">
                    <param name="min">-6.28</param>
                    <param name="max">6.28</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="${prefix}wrist_3_joint">
                <command_interface name="position">
                    <param name="min">-6.28</param>
                    <param name="max">6.28</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>